<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body>
    <% if (myFlag === true) { %>
        <p>Song added to the play list...</p>
        
    <% } else { %>

        <p>Song not added to the play list...</p>
    <% } %>

    <a href="/">Home</a>    
</body>
</html>